@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../../node_modules/sal.js/dist/sal.css';

html {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}

.nav-item {
  @apply
    px-4
    py-2
    mt-2
    md:mt-0
    text-base
    font-semibold
    rounded-lg
    text-gray-500
    dark:focus:text-white
    dark:hover:text-white
    dark:text-gray-200
    hover:text-gray-900
    focus:text-gray-900
    focus:outline-none;
}

.grecaptcha-badge {
  display: none !important;
}

.footer-inner {
  background-image: url(/images/footer.png);
  background-size: 35%;
}
